body {
	margin:0;
	font-family:'Lato', sans-serif;
	text-align:center;
	color: #616161;
	overflow: hidden;
	background: #e8e8e8;
}

a, a:visited {
	text-decoration:none;
}

#page-wrapper{
	height: 100vh;
	width: 150%;
	transform: translateX(-33.33%);
	font-size: 0;
	letter-spacing: 0;
	position: relative;
	box-sizing:border-box;
}

#item-wrapper{
	height: 100%;
	width: 33.33%;
	display: inline-block;
	position: relative;
	vertical-align: top;
}

#main-wrapper{
	height: 100%;
	width: 66.66%;
	display: inline-block;
	font-size: 0;
	letter-spacing: 0;
	position: relative;
	vertical-align: top;
}

#deisgn-area{
	height: 100%;
	width: 75%;
	display: inline-block;
	position: relative;
	vertical-align: top;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#design-canvas{
	height: 100%;
	width: 100%;
	position: relative;
}

#editing-menu{
	height: 100%;
	width: 25%;
	display: inline-block;
	position: relative;
	vertical-align: top;
	padding: 10px;
	box-sizing:border-box;
}

#editing-fixed{
	height: auto;
	width: 450px;
	position: relative;
	right: 0;
}

#gender-selection-menu{
	height: auto;
	width: 100%;
	position: relative;
	font-size: 0;
	letter-spacing: 0;
	text-align: center;
}

.gender-icon{
	height: 150px;
	width: 100px;
	position: relative;
	display: inline-block;
	background-size: contain;
	opacity: 0.4;
	transition: opacity 0.3s ease-in-out;
	cursor: pointer;
}


#male-icon{
	background-image: url(../images/male-icon.png);
}

#female-icon{
	background-image: url(../images/female-icon.png);
}

#color-selection-menu{
	width: 100%;
	position: relative;
}

#selection-menu-icons{
	width: 100%;
	position: relative;
	font-size: 0;
	letter-spacing: 0;
	text-align: left;
}

.color-tab-icon{
	height: 40px;
	width: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	opacity: 0.4;
}

#tshirt-color-tab{
	background-image: url(../images/tshirt_icon.png);
}

#design-color-tab{
	background-image: url(../images/design_icon.png);
	margin-left: 10px;
}

.color-selection-row{
	width: 100%;
	position: relative;
	font-size: 0;
	letter-spacing: 0;
	border-top: 4px solid #e8e8e8;
	text-align: left;
}

.color-block{
	height: 30px;
	width: 20%;
	display: inline-block;
	position: relative;
	background-color: #ccc;
	box-sizing: border-box;
	border-left: 4px solid #e8e8e8;
	opacity: 0.2;
	transition: opacity 0.3s ease-in-out;
}

.color-block:hover{
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
	cursor: pointer;
}


.sample-designs-row{
	width: 100%;
	position: relative;
	font-size: 0;
	letter-spacing: 0;
	text-align: left;
}

.sample-design{
	height: 250px;
	width: 50%;
	display: inline-block;
	background-color: #ddd;
	box-sizing: border-box;
	border-top: 4px solid #e8e8e8;
	border-left: 4px solid #e8e8e8;
	padding: 15px;
}

.sample-design:hover .artwork-wrapper{
	opacity: 1;
	transform: scale(1.1);
	transition: opacity 0.3s ease-in-out;
	transition: transform 0.5s ease-in-out;
	cursor: pointer;
}

.artwork-wrapper{
	height: 100%;
	width: 100%;
	position: relative;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0.4;
	transition: opacity 0.3s ease-in-out;
	transition: transform 0.5s ease-in-out;
}

#more-designs{
	height: auto;
	width: 100%;
	position: relative;
	margin: 0 auto;
	font-size: 13px;
}

#order-now{
	height: 40px;
	width: 150px;
	margin-top: 10px;
	margin: 0 auto;
}

.button{
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #f7931d;
	font-size: 13px;
	padding: 10px;
	box-sizing: border-box;
	border: 2px solid #f7931d;
	vertical-align: middle;
	text-align: center;
	position: relative;
	cursor: pointer;
	color: #616161;
}

.button:hover{
}

#footer{
	width: 100%;
	position: relative;
}

#social-icons-row{
	height: auto;
	width: 100%;
	position: relative;
	font-size: 0;
	letter-spacing: 0;
	text-align: right;

}

.social-icon{
	height: 20px;
	width: 20px;
	position: relative;
	box-sizing: border-box;
	background-repeat: no-repeat;
	display: inline-block;
	background-position: 0 0;
}

.social-icon:hover{
	background-position: -20px 0;
}

#fb-icon{
	background-image: url(../images/fb_icon.png);
}

#twitter-icon{
	background-image: url(../images/twitter_icon.png);
}

#copyrights{
	width: 100%;
	color: #a4a4a4;
	font-size: 12px;
	text-align: right;
	margin-top: 5px;
}

.active{
	opacity: 1.0 !important;
}


/* ----------------------------- sizes page ----------------------------- */

#sizes-window{
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.9);;
	position: absolute;
	left: 0;
	top: 0;
}

#sizes-wrapper{
	height: auto;
	width: 100%;
	max-width: 600px;
	position: relative;
	margin: 0 auto;
	border: solid 1px #000;
	font-size: 0;
	letter-spacing: 0;
	background-color: #e8e8e8;
	top: 30%;
	box-sizing: border-box;
	padding: 20px;
}

.page-heading{
	height: auto;
	width: 100%;
	font-size: 13px;
	position: relative;
	margin-top: 5px;
}

.sizes-selector{
	height: auto;
	width: 100%;
	position: relative;
	font-size: 0;
	letter-spacing: 0;
	margin-top: 10px;
}

.size-block{
	height: auto;
	width: 20%;
	max-width: 100px;
	position: relative;
	display: inline-block;
	font-size: 13px;
}

input[type=checkbox]{
	width: 30px;
	border: none;
	color: #616161;
}

#add-to-cart{
	height: 40px;
	width: 150px;
	display: inline-block;
}

#check-out{
	height: 40px;
	width: 150px;
	display: inline-block;
	background-color: #cc7b16;
	border: solid  2px #cc7b16;
}

.margin-row{
	height: auto;
	width: auto;
	position: relative;
	margin-top: 5px;
}

#add-to-cart:hover{
	background-color: #cc7b16;
	border: solid 2px #cc7b16;
}

#add-to-cart:hover + #check-out{
	background-color: #f7931d;
	border: solid 2px #f7931d;
}

.window-close{
	height: 25px;
	width: 25px;
	position: absolute;
	right: 2px;
	top: 2px;
	font-size: 13px;
	text-align: center;
	border: 2px solid #f7931d;
	box-sizing: border-box;
	border-radius: 13px;
	line-height: 20px;
	opacity: 0.4;
	cursor: pointer;
	color: #000;
}

.window-close:hover{
	opacity: 1;
	transition:;
}

.hidden{
	display: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* ----------------------------- cart page ----------------------------- */

#cart-wrapper{
	height: auto;
	width: 100%;
	max-width: 1200px;
	position: relative;
	font-size: 0;
	letter-spacing: 0;
	margin: 0 auto;
}


#cart-items{
	height: auto;
	width: 70%;
	position: relative;
	display: inline-block;
}

.item-wrapper{
	height: auto;
	width: 100%;
	position: relative;
	background-color: #fcfcfc;
	box-sizing: border-box;
	margin-bottom: 10px;
	font-size: 0;
	letter-spacing: 0;
}

/* item container for panels of each item*/
.item-container{ 
	height: auto;
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	padding: 15px;
	vertical-align: top;
}

.item-image-container{
	width: 20%;
	max-width: 200px;
	min-width: 120px;
}

.item-image{
	height: 150px;
	width: 150px;
	position: relative;
	background-image: url(../images/orders/cart-design.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
	box-sizing: border-box;
	border: 1px solid #fff;
}

.item-image:hover{
	border: 1px solid #616161;
}

.item-info-container{
	width: 40%;
	max-width: 1000px;
	text-align: left;
}

.item-title{
	height: auto;
	width: 100%;
	position: relative;
	font-size: 16px;
	font-weight: 800;
}

.item-size-container{
	width: 20%;
}

.item-price-container{
	width: 20%;
	font-size: 16px;
	font-weight: 800;
	text-align: right;
}

input[type=text]{
	width: 30px;
	color: #616161;
}

/*end of cart items panel*/

#cart-summary{
	height: 500px;
	width: 30%;
	position: relative;
	display: inline-block;
	background-color: #fcfcfc;
	vertical-align: top;
	box-sizing: border-box;
	border-left: 10px solid #e8e8e8;
}

/*end of cart summary panel*/