body {
	margin:0;
	font-family:'Lato', sans-serif;
	text-align:center;
	color: #616161;
	/*overflow: hidden;*/
	background: #e8e8e8;
}

a, a:visited {
	text-decoration:none;
}

#page-wrapper{
	height: 100vh;
	width: 100%;
	font-size: 0;
	letter-spacing: 0;
	position: relative;
	box-sizing:border-box;
	transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 1s;
	white-space: nowrap;
	left: -500px;
}

#page-wrapper.home-view{
	transform: translateX(0px);
}

#page-wrapper.design-view{
	transform: translateX(500px);
}

#page-wrapper.cart-view{
	transform: translateX(-100%);
}



#item-wrapper{
	height: 100%;
	width: 500px;
	display: inline-block;
	position: relative;
	vertical-align: top;
	background-color: #F7941E;
	white-space: normal;
}

#main-wrapper{
	height: 100%;
	width: 100%;
	display: inline-block;
	font-size: 0;
	letter-spacing: 0;
	position: relative;
	vertical-align: top;
	white-space: normal;
}

#deisgn-area{
	height: 100%;
	width: 75%;
	display: inline-block;
	position: relative;
	vertical-align: top;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#design-canvas{
	height: 100%;
	width: 100%;
	position: relative;
}

#editing-menu{
	height: 100%;
	width: 25%;
	display: inline-block;
	position: relative;
	vertical-align: top;
	padding: 10px;
	box-sizing:border-box;
	background-color: #f7931d;
	/*border-left: 5px solid #CC7B16;*/
	/*background-image: url(../images/bg-texture.png);*/
	background-repeat: repeat;
}

#editing-fixed{
	height: auto;
	/*width: 450px;*/
	position: relative;
	right: 0;
}

#gender-color-wrapper{
	width: 100%;
	display: inline-block;
}

#gender-selection-menu{
	height: auto;
	width: 100%;
	position: relative;
	font-size: 0;
	letter-spacing: 0;
	text-align: center;
}

.gender-icon{
	height: 120px;
	width: 80px;
	position: relative;
	display: inline-block;
	background-size: contain;
	opacity: 0.4;
	transition: opacity 0.3s ease-in-out;
	cursor: pointer;
}


#male-icon{
	background-image: url(../images/male-icon.png);
}

#female-icon{
	background-image: url(../images/female-icon.png);
}

#color-selection-menu{
	width: 100%;
	position: relative;
}

#selection-menu-icons{
	width: 100%;
	position: relative;
	font-size: 0;
	letter-spacing: 0;
	text-align: left;
}

#color-wrapper{
	background-color: #CC7B16;
	box-sizing: border-box;
	border: 5px solid #CC7B16;
	margin-bottom: 20px;
	padding: 10px;
}

.color-tab-icon {
	height: 40px;
	width: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	opacity: 0.4;
	border: 10px solid #CC7B16;
	background-color: #CC7B16;
}

#tshirt-color-tab{
	background-image: url(../images/tshirt_icon.png);
}

#design-color-tab{
	background-image: url(../images/design_icon.png);
	margin-left: 5px;
}

.color-selection-row{
	width: 100%;
	position: relative;
	font-size: 0;
	letter-spacing: 0;
	/* border-top: 4px solid #fde3c5; */
	text-align: left;
}

.color-block{
	height: 30px;
	width: 20%;
	display: inline-block;
	position: relative;
	background-color: #ccc;
	box-sizing: border-box;
	transition: opacity 0.3s ease-in-out;
	border: 2px solid #CC7B16;
	cursor: pointer;
}

/*.color-block:hover{
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}
*/

.sample-designs-row{
	width: 100%;
	position: relative;
	font-size: 0;
	letter-spacing: 0;
	text-align: left;
}

.sample-design{
	height: 190px;
	width: 50%;
	display: inline-block;
	background-color: #CC7B16;
	box-sizing: border-box;
	border: 4px solid #F7931D;
	/* border-left: 4px solid #e8e8e8; */
	padding: 30px;
	/* margin: 0 auto; */
	text-align: center;
}

.sample-design:hover .artwork-wrapper{
	opacity: 1;
	transform: scale(1.1);
	transition: opacity 0.3s ease-in-out;
	transition: transform 0.5s ease-in-out;
	cursor: pointer;
}

.sample-design img{
	height: 100%;
	width: auto;
	position: relative;
	/* background-size: contain; */
	/* background-repeat: no-repeat; */
	/* background-position: center; */
	transition: opacity 0.3s ease-in-out;
	transition: transform 0.5s ease-in-out;
	margin: 0 auto;
}

#more-designs{
	height: auto;
	width: 100%;
	position: relative;
	margin: 0 auto;
	font-size: 13px;
	cursor: pointer;
}

#order-now{
	width: 150px;
	margin-top: 10px;
	margin: 0 auto;
}

.button{
	width: 100%;
	height: 100%;
	min-height: 40px;
	left: 0;
	top: 0;
	font-size: 13px;
	padding: 10px;
	box-sizing: border-box;
	vertical-align: middle;
	text-align: center;
	position: relative;
	cursor: pointer;
	color: #616161;
	background-color: #cc7b16;
}

.button:hover{
	background: #cc7b16;
}

#footer{
	width: 100%;
	position: relative;
}

#social-icons-row{
	height: auto;
	width: 100%;
	position: relative;
	font-size: 0;
	letter-spacing: 0;
	text-align: right;

}

.social-icon{
	height: 20px;
	width: 20px;
	position: relative;
	box-sizing: border-box;
	background-repeat: no-repeat;
	display: inline-block;
	background-position: 0 0;
}

.social-icon:hover{
	background-position: -20px 0;
}

#fb-icon{
	background-image: url(../images/fb_icon.png);
}

#twitter-icon{
	background-image: url(../images/twitter_icon.png);
}

#copyrights{
	width: 100%;
	color: #E8E8E8;
	font-size: 12px;
	text-align: right;
	margin-top: 5px;
}

.active{
	opacity: 1.0 !important;
}


#add-to-cart{
	width: 150px;
	display: inline-block;
	border: 4px solid #F7931D;
}

#check-out{
	width: 150px;
	display: inline-block;
	border: 4px solid #F7931D;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* ----------------------------- cart page ----------------------------- */

#cart-wrapper{
	height: 100%;
	width: 100%;
	position: relative;
	font-size: 0;
	letter-spacing: 0;
	margin: 0 auto;
}


#cart-items{
	height: auto;
	width: 80%;
	position: relative;
	display: inline-block;
	text-align: left;
}

.item-wrapper{
	height: auto;
	width: 33.33%;
	position: relative;
	background-color: #fcfcfc;
	box-sizing: border-box;
	font-size: 0;
	letter-spacing: 0;
	border: 8px solid #e8e8e8;
	display: inline-block;
}

.item-wrapper:last-child{
	border-bottom: 20px solid #e8e8e8;
}

/* item container for panels of each item*/
.item-container{ 
	height: auto;
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	padding: 10px;
	vertical-align: top;
}

.item-image-container{
	width: 40%;
	max-width: 200px;
	min-width: 150px;
}

.item-image{
	height: 150px;
	width: auto;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
	box-sizing: border-box;
	border: 1px solid #fff;
}

.item-image:hover{
	border: 1px solid #616161;
}

.item-title{
	height: auto;
	width: 100%;
	position: relative;
	font-size: 16px;
	font-weight: 400;
}

.item-size-container{
	width: 37%;
	min-width: 150px;
	font-size: 13px;
	text-align: left;
}

#cart-sizes{
	list-style: none;
	padding: 0;
	margin-top: 10px;
	position: relative;
	font-size: 0;
	letter-spacing: 0;
}

.cart-size-block{
	height: auto;
	width: 50%;
	min-width: 50px;
	position: relative;
	display: inline-block;
	font-size: 13px;
	margin-bottom: 5px;
}

.cart-input{
	background-color: #E8E8E8;
	border: 0;
	color: #E8E8E8;
}

.item-price-container{
	width: 23%;
	font-size: 13px;
	font-weight: 400;
	text-align: right;
}

.remove-item{
	height: auto;
	width: 100%;
	position: relative;
	color: #0654ba;
	cursor: pointer;
}

a:active, a:link{
	color: #0654ba;
}

a:hover {
text-decoration: underline;
}

.cart-size-block input[type=text]{
	width: 30px;
}

/*end of cart items panel*/

#cart-summary{
	height: 100%;
	width: 20%;
	position: relative;
	display: inline-block;
	background-color: #F7941E;
	vertical-align: top;
	box-sizing: border-box;
	border: 5px solid #F7941E;
	text-align: center;
}

#summary-title{
	height: auto;
	width: 100%;
	position: relative;
	font-size: 22px;
	box-sizing: border-box;
	font-weight: 400;
}

#summary-total{
	height: auto;
	width: 100%;
	position: relative;
	font-size: 22px;
	box-sizing: border-box;
	padding: 0px 10px;
	font-weight: 400;
	margin-bottom: 0px;
}

#summary-qty{
	height: auto;
	width: 100%;
	position: relative;
	font-size: 16px;
	box-sizing: border-box;
	padding: 0px 10px 10px 10px;
	color: #FFFFFF;
	margin-top: 0px;
}

.summary-detail{
	height: auto;
	width: 70%;
	margin: 0 auto;
	margin-bottom: 5px;
}

#proceed-to-checkout{
	width: 100%;
	border: none;
}

.continue-shopping{
	width: 100%;
}

/*end of cart summary panel*/


.margin-t-10{
	margin-top: 10px !important;
}

/* logo animations */

#logo-wrapper{
	height: 150px;
	width: 150px;
	position: fixed;
	z-index: 9;
	overflow: hidden;
	border-radius: 50%;
	overflow: hidden;
}

#logo{
	height: 80px;
	width: 80px;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 50%;
	z-index: 999;
	cursor: pointer;
	margin: 0 auto;
	margin-top: -40px;
	transition: width 500ms, height 500ms, margin 500ms;
	border: 2px solid #E8E8E8;
	border-radius: 50%;
	box-sizing: border-box;
}


#logo-ul:hover > #logo + li > .menu-item{
	height: 150px;
	width: 175px;
	display: block;
	transition: all 0.5s ease-in-out;
}

#logo-ul:hover > #logo + li + li > .menu-item{
	height: 150px;
	width: 175px;
	display: block;
	transition: all 0.5s ease-in-out;
}

#logo-ul:hover > #logo + li + li + li > .menu-item{
	height: 150px;
	width: 175px;
	display: block;
	transition: all 0.5s ease-in-out;
}

#logo-ul:hover > #logo + li + li + li + li > .menu-item{
	height: 150px;
	width: 175px;
	display: block;
	transition: all 0.5s ease-in-out;
}

#logo + li:hover > .menu-item{
	height: 150px;
	width: 175px;
	display: block;
	transition: all 0.5s ease-in-out;
}

#logo + li + li:hover > .menu-item{
	height: 150px;
	width: 175px;
	display: block;
	transition: all 0.5s ease-in-out;
}

#logo + li + li + li:hover > .menu-item{
	height: 150px;
	width: 175px;
	display: block;
	transition: all 0.5s ease-in-out;
}

#logo + li + li + li + li:hover .menu-item{
	height: 150px;
	width: 175px;
	display: block;
	transition: all 0.5s ease-in-out;
}

.menu-item:hover{
	background-color: #CC7B16;
	transition: all 10ms ease-in-out;
}

ul#logo-ul{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 14px;
}

#logo-ul li{
	position: absolute;
	text-decoration: none;
	top: 50%;
	left: 50%;
	padding: 0;
	margin: 0;
}

.menu-item{
	background: rgba(204, 123, 22, 0.6);
	height: 0px;
	width: 0px;
	position: absolute;
	transform-origin: 0px 150px;
	margin-top: -150px;
	left: 50%;
	top: 50%;
	border: 1px solid #E8E8E8;
	z-index: 99;
	display: block;
	overflow: hidden;
	cursor: pointer;
}

#top-nav{
	transform: rotate(-45deg) skew(0deg);
}

#right-nav{
	transform: rotate(45deg) skew(0deg);
}

#bottom-nav{
	transform: rotate(135deg) skew(0deg);
}

#left-nav{
	transform: rotate(225deg) skew(0deg);
}

.nav-icon{
	position: absolute;
	transform: rotate(45deg);
	text-align: center;
	padding: 90px 32px;
}

#nav-facebook{
	transform: rotate(224deg);
}


.active-icon{

}

#cart-wrapper-a{
	height: 100%;
	width: 100%;
	position: relative;
	display: inline-block;
	/*background: url(../images/cart_bg.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left;*/
	white-space: normal;
}

/* contact page */

.contact-details{
	height: auto;
	width: 80%;
	position: relative;
	font-size: 0;
	letter-spacing: 0;
	vertical-align: top;
	text-align: left;
	margin: 0 auto;
	margin-top: 60px;
	color: #FFFFFF;
	margin-top: 180px;
}

.contact-desc{
	height: auto;
	width: 33.33%;
	position: relative;
	display: inline-block;
	font-size: 14px;
	vertical-align: top;
	box-sizing: border-box;
	text-align: center;
}

.contact-info{
	vertical-align: middle;
	line-height: 1.7;
}

.contact-info img{
	vertical-align: middle;
}

#contact-form-wrapper{
	margin-top: 15px;
}

#contact-info-wrapper{
}

#contact-form{
	width: 100%;
	display: inline-block;
	vertical-align: top;
}



.input{
	height: 45px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border: 4px solid #F7941E;
	color: #fff;
	background-color: #CC7B16;
	border-left: 0;
}

#contact-message{
	height: 200px;
	width: 100%;
	position: relative;
	box-sizing: border-box;
	padding: 10px;
	border: 4px solid #F7941E;
	color: #fff;
	background-color: #CC7B16;
	border-left: 0;
	font-family:'Lato', sans-serif;
}

.contact-icon{
	height: 60px;
	width: 60px;
	border: 5px solid #CC7B16;
	border-radius: 50%;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-size: contain;
}

#contact-submit {
	height: 41px;
	width: 30%;
	border: 0px solid #F7941E;
	color: #fff;
	position: relative;
	margin-left: 35%;
	margin-bottom: 20px;
}

#contact-address{
	background-image: url(../images/map_icon.png);
}

#contact-tel{
	background-image: url(../images/phone_icon.png);
}

#contact-mail{
	background-image: url(../images/mail_icon.png);
}

textarea {
    resize: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #fff;
   opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #fff;
   opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #fff;
}

#alert-wrapper{
	height: 100%;
	width: 100%;
	position: fixed;
	background: rgba(0, 0, 0, .7);
	display: none;
	z-index: 10;
}

#alert-box{
	height: 200px;
	width: 500px;
	background: #F7941E;
	margin: 0 auto;
	top: 50%;
	position: absolute;
	margin-top: -100px;
	left: 0;
	right: 0;
}

#alert-close-wrapper{
	height: 20px;
	width: 100%;
	position: relative;
}

#alert-content{
	height: auto;
	font-size: 14px;
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	color: #fff;
	margin-top: -47px;
	left: 0;
	right: 0;
}

.alert-button{
	width: 150px;
	display: inline-block;
}

.contact-info a:hover{
	text-decoration: inherit;
}

.contact-info a{
	color: inherit;
}

@media (max-width: 1600px){
	.item-wrapper{
		width: 50%;
		border: 20px solid #e8e8e8;
	}

	.sample-design{
		padding-left: 20px;
	}
}

@media (max-width: 1300px){
	.sample-design{
		padding-left: 20px;
	}

	#add-to-cart{
		width: 50%;
	}

	#check-out{
		width: 50%;
	}
}

@media (max-width: 1170px){

	body{
		background-color: #f7931d;
	}
	
	#page-wrapper{
		height: auto;
	}

	#deisgn-area{
		width: 100%;
		background-color: #e8e8e8;
	}

	#editing-menu{
		width: 100%;
		height: auto;
		position: relative;
		bottom: 0;
		left: 0;
		font-size: 0;
		letter-spacing: 0;
	}

	#gender-color-wrapper{
		width: 250px;
		display: inline-block;
	}

	#gender-selection-menu{
		/*width: 90px;
		display: inline-block;*/
		vertical-align: top;
	}

	.gender-icon{
		height: 74px;
		width: 50px;
	}

	#color-selection-menu{
		width: auto;
		display: inline-block;
		vertical-align: top;
		margin-bottom: 10px;
	}

	#selection-menu-icons{
		display: inline-block;
		width: 45px;
		vertical-align: top;
	}

	.color-tab-icon{
		height: 25px;
		width: 25px;
		display: block;
	}

	#design-color-tab{
		margin-left: 0;
	}

	#color-wrapper {
		width: 200px;
		margin: 0;
		/* max-width: 200px; */
		display: inline-block;
	}

	#artworks-wrapper{
		width: 50%;
		min-width: 550px;
		display: inline-block;
		vertical-align: top;
	}

	.sample-designs-row{
		width: auto;
		position: absolute;
	}

	.sample-designs-row{
		width: 50%;
		position: relative;
		display: inline-block;
	}

	.sample-design {
		height: 164px;
		width: 50%;
		border-bottom: none;
		border-top: none;
	}

	#add-to-cart{
		width: 150px;
	}

	#check-out{
		width: 150px;
	}

	/* cart design */

	#cart-items{
		width: 100%;
		background-color: #E8E8E8;
	}

	#cart-summary{
		position: relative;
		bottom: 0;
		width: 100%;
	}

	#page-wrapper.design-view #main-wrapper,#page-wrapper.design-view #cart-wrapper-a{
		height: 100vh;
		overflow: hidden;
	}

	#page-wrapper.home-view #item-wrapper,#page-wrapper.home-view #cart-wrapper-a{
		height: 100vh;
		overflow: hidden;
	}

	#page-wrapper.cart-view #item-wrapper,#page-wrapper.cart-view #main-wrapper{
		height: 100vh;
		overflow: hidden;
	}

}

@media (max-width: 950px){
	
	.item-wrapper{
		width: 100%;
		border: 20px solid #e8e8e8;
		border-bottom: none;
	}

}

@media (max-width: 750px){
	
	#item-wrapper{
		width: 100%;
	}

	#page-wrapper{
		left: -100%;
		/*height: auto;*/
	}

	#page-wrapper.design-view{
		transform: translateX(+100%);
	}

}

@media (max-width: 750px){

	.sample-designs-row{
		width: 100%;
		margin-bottom: 10px;
		text-align: center;
	}

	.sample-design{
		height: 190px;
		width: 40%;
	}
}