body {
	margin:0;
	font-family:'Lato', sans-serif;
	text-align:center;
	color: #616161;
	overflow: hidden;
}

a, a:visited {
	text-decoration:none;
}

#page-wrapper{
	height: 100vh;
	width: 150%;
	transform: translateX(-33.33%);
	font-size: 0;
	letter-spacing: 0;
	background-color: #e8e8e8;
	position: relative;
	padding-right: 100px;
	box-sizing:border-box;
}

#item-wrapper{
	height: 100%;
	width: 33.33%;
	display: inline-block;
	position: relative;
	vertical-align: top;
}

#main-wrapper{
	height: 100%;
	width: 66.66%;
	display: inline-block;
	font-size: 0;
	letter-spacing: 0;
	position: relative;
	vertical-align: top;
}

#deisgn-area{
	height: 100%;
	width: 75%;
	display: inline-block;
	position: relative;
	vertical-align: top;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#design-canvas{
	height: 100%;
	width: 100%;
	position: relative;
}

#editing-menu{
	height: 100%;
	width: 25%;
	display: inline-block;
	position: relative;
	vertical-align: top;
	padding: 10px;
	box-sizing:border-box;
}

#editing-fixed{
	height: auto;
	width: 450px;
	position: relative;
	right: 0;
}

#gender-selection-menu{
	height: auto;
	width: 100%;
	position: relative;
	font-size: 0;
	letter-spacing: 0;
	text-align: center;
}

.gender-icon{
	height: 150px;
	width: 100px;
	position: relative;
	display: inline-block;
	background-size: contain;
	opacity: 0.4;
	transition: opacity 0.3s ease-in-out;
	cursor: pointer;
}


#male-icon{
	background-image: url(../images/male-icon.png);
}

#female-icon{
	background-image: url(../images/female-icon.png);
}

#color-selection-menu{
	width: 100%;
	position: relative;
}

#selection-menu-icons{
	width: 100%;
	position: relative;
	font-size: 0;
	letter-spacing: 0;
	text-align: left;
}

.color-tab-icon{
	height: 40px;
	width: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	opacity: 0.4;
}

#tshirt-color-tab{
	background-image: url(../images/tshirt_icon.png);
}

#design-color-tab{
	background-image: url(../images/design_icon.png);
	margin-left: 10px;
}

.color-selection-row{
	width: 100%;
	position: relative;
	font-size: 0;
	letter-spacing: 0;
	border-top: 4px solid #e8e8e8;
	text-align: left;
}

.color-block{
	height: 30px;
	width: 20%;
	display: inline-block;
	position: relative;
	background-color: #ccc;
	box-sizing: border-box;
	border-left: 4px solid #e8e8e8;
	opacity: 0.4;
	transition: opacity 0.3s ease-in-out;
}

.color-block:hover{
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
	cursor: pointer;
}


.sample-designs-row{
	width: 100%;
	position: relative;
	font-size: 0;
	letter-spacing: 0;
	text-align: left;
}

.sample-design{
	height: 250px;
	width: 50%;
	display: inline-block;
	background-color: #ddd;
	box-sizing: border-box;
	border-top: 4px solid #e8e8e8;
	border-left: 4px solid #e8e8e8;
	padding: 15px;
}

.sample-design:hover .artwork-wrapper{
	opacity: 1;
	transform: scale(1.1);
	transition: opacity 0.3s ease-in-out;
	transition: transform 0.5s ease-in-out;
	cursor: pointer;
}

.artwork-wrapper{
	height: 100%;
	width: 100%;
	position: relative;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0.4;
	transition: opacity 0.3s ease-in-out;
	transition: transform 0.5s ease-in-out;
}

#more-designs{
	height: auto;
	width: 100%;
	position: relative;
	margin: 0 auto;
	font-size: 13px;
}

#footer{
	width: 100%;
	position: relative;
}

#social-icons-row{
	height: auto;
	width: 100%;
	position: relative;
	font-size: 0;
	letter-spacing: 0;
	text-align: right;

}

.social-icon{
	height: 20px;
	width: 20px;
	position: relative;
	background-size: contain;
	box-sizing: border-box;
	background-repeat: no-repeat;
	display: inline-block;
}

#fb-icon{
	background-image: url(../images/fb_icon.png);
}

#twitter-icon{
	background-image: url(../images/twitter_icon.png);
}

#copyrights{
	width: 100%;
	color: #a4a4a4;
	font-size: 12px;
	text-align: right;
}

.active{
	opacity: 1.0 !important;
}